
.App-header {
  height: 10vh;
  background-color: #282c34;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.app-body {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #61dafb;
  padding-top: 20px;
  margin: 10vh 9vw 5vh;
  padding-bottom: 20px;
}

.App-link {
  color: #61dafb;
}

.app-footer {
  min-height: 5vh;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.header-buttons-wrapper{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.button-get-article-wrapper, .button-get-breaking-news-wrapper{
  margin: 12px;
}

.articles-retrieved-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;

}

.article-card {
  background-color: coral;
  width: 50%;
  border: 1px solid black;
}
